@import "tailwindcss";
@import "tw-animate-css";
@import "./card.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-display: var(--font-display);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-icon-pink: theme(colors.pink.200);
  --color-icon-orange: theme(colors.orange.200);
  --color-icon-amber: theme(colors.amber.200);
  --color-icon-green: theme(colors.green.200);
  --color-icon-lime: theme(colors.lime.200);
  --color-icon-teal: theme(colors.teal.200);
  --color-icon-sky: theme(colors.teal.200);
  --color-icon-fuchsia: theme(colors.fuchsia.200);
  --color-icon-violet: theme(colors.violet.200);
  --color-icon-red: theme(colors.red.200);
  --color-icon-purple: theme(colors.purple.200);
  --color-icon-slate: theme(colors.slate.200);
  --color-icon-blue: theme(colors.blue.200);
  --color-icon-indigo: theme(colors.indigo.200);
}

:root {
  --background: theme(colors.slate.50); /* #F8FAFC */
  --foreground: theme(colors.slate.800); /* #1E293B */
  --card: theme(colors.white); /* #FFFFFF */
  --card-foreground: theme(colors.slate.800); /* #1E293B */
  --popover: theme(colors.white); /* #FFFFFF */
  --popover-foreground: theme(colors.slate.800); /* #1E293B */

  --border: theme(colors.slate.200); /* #E2E8F0 */
  --input: theme(colors.slate.200); /* #E2E8F0 */

  --muted: theme(colors.slate.50); /* #F8FAFC */
  --muted-foreground: theme(colors.slate.500); /* #62748E */

  --destructive: theme(colors.red.700); /* #C10007 */
  --destructive-foreground: theme(colors.slate.50); /* #F8FAFC */

  --primary: theme(colors.slate.700); /* #1E293B */
  --primary-foreground: theme(colors.slate.50); /* #F8FAFC */
  --primary-hover: theme(colors.slate.800);

  --secondary: theme(colors.slate.100); /* #F1F5F9 */
  --secondary-foreground: theme(colors.slate.800); /* #1D293D */
  --secondary-hover: theme(colors.slate.200); /* #F1F5F9 */

  --accent: theme(colors.slate.50); /* #F8FAFC */
  --accent-foreground: theme(colors.slate.800); /* #1D293D */

  --ring: theme(colors.slate.950);

  --chart-1: theme(colors.orange.500);
  --chart-2: theme(colors.blue.500);
  --chart-3: theme(colors.indigo.500);
  --chart-4: theme(colors.yellow.500);
  --chart-5: theme(colors.pink.500);
  --sidebar: theme(colors.white);
  --sidebar-foreground: theme(colors.slate.950);
  --sidebar-primary: theme(colors.slate.900);
  --sidebar-primary-foreground: theme(colors.slate.50);
  --sidebar-accent: theme(colors.slate.100);
  --sidebar-accent-foreground: theme(colors.slate.900);
  --sidebar-border: theme(colors.slate.200);
  --sidebar-ring: theme(colors.slate.950);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Typography styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}

@utility container {
  max-width: 112rem /* 1792px */;

  @apply mx-auto px-4 md:px-6;
}
